<a href="https://colab.research.google.com/github/amandafacci/Data-Science-Alura/blob/main/Projeto_Imersao_Data_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import plotly.express as px
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")

In [4]:
df_limpo = df.dropna()
df_limpo.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [34]:
df_limpo.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,ano
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M,2025
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M,2025
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M,2025
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M,2025
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M,2025
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M,2025
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M,2025
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M,2025
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M,2025
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M,2025

In [35]:
df_data_scientist = df_limpo[df_limpo['job_title'] == 'Data Scientist']
df_data_sal_pais = df_data_scientist.groupby('employee_residence')['salary_in_usd'].mean().sort_values(ascending=False).reset_index()

fig = px.bar(df_data_sal_pais,
             x='employee_residence',
             y='salary_in_usd',
             title='Salario Anual por País - Data Scientist',
             labels={'salary_in_usd': 'Salario em USD', 'employee_residence': 'País'},
             template='plotly_white')
fig.show()

In [36]:
df_data_scientist = df_limpo[df_limpo['job_title'] == 'Data Scientist']
df_data_sal_pais = df_data_scientist.groupby('employee_residence')['salary_in_usd'].mean().reset_index()
#.sort_values(): É uma função do Pandas que permite reordenar as linhas do DataFrame com base nos valores de uma ou mais colunas.
df_data_sal_pais = df_data_sal_pais.sort_values(by='employee_residence', ascending=True)

fig = px.bar(df_data_sal_pais,
             x='employee_residence',
             y='salary_in_usd',
             title='Salario Anual por País - Data Scientist',
             labels={'salary_in_usd': 'Salario em USD', 'employee_residence': 'País'},
             template='plotly_white')
fig.show()